
body{
    font: 20px Arial, sans-serif;
}
.navbar {
    background-color: #4682b4;
}

.quem-somos{
    background-color: #add8e6;
    color: white;
}

.margin{
    padding-top: 50px;
    padding-bottom: 50px;
    padding-top: 10px;
}

.parceiros{
    background-color: #b0c4de;
    color: white;
}

.bg-footer{
    background-color: #4682b4;
    color: white;
}